.anasayfa {
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 40px;
    color: crimson;
}

.h2-ana {
    color: purple;
    text-align: center;

}

.h3-ana {
    color: darkgoldenrod;
    text-align: center;

}

.h2-hizmet {
    text-align: center;
    color: purple;
}

.h2-ürün {
    color: purple;
}

.h3-hizmet {
    color: purple;
}

a:hover {
    color: gray
}

a:active {
    color: black;
    text-decoration: double;
}

.p-ana {
    text-align: center;
}

.u-ana {
    list-style: inside;
    text-align: center;
}

#urun {
    text-align: center;
    list-style: inside;
    background-color: bisque;
    color: black;
    font-size: 15px;
    font-style: oblique;
}

#ana {
    background-color: #E9ECEF;
    font-size: 15px;
}

#hizmet {
    background-color: bisque;
}

.hizmet {
    text-align: center;
}


.p-hizmet {
    font-size: 15px;
    text-decoration: dotted;
}